.btnAdd{
    width: 18px;
    height: 18px;
    padding: 0;
    color: #181616;
    transition: all .1s ease-in-out;
}

.btnAdd:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn-custom{
    margin-left: 5px;
}

.corazon{
    background-color: "red" !important;
    color: red;
}